@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&family=Poppins:wght@700&family=Roboto:wght@100;400&family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #415e6b;
  --primary-green: #5c6a4d;
  --light-green: #999b84;
  --primary-black: black;
  --text-color: #75464a;
  --hover-color: #909d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  overflow-x: hidden;
}

.navbar {
  display: flex;

  align-items: center;

  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;

  background-color: var(--primary-black);
  justify-content: space-between;
  padding: 0.4rem 1.5rem 0.3rem 0.6rem;
  border-bottom: 1px solid rgb(106, 105, 105);
}

.navbar-brand {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.navbar-brand a {
  width: 70px;
  height: 100%;
}

.logo.active {
  width: 100%;
  height: 100%;
}
.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.navbar-toggler-icon {
  margin-top: 1rem;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22%3E%3Cpath fill=%22%23fff%22 d=%22M0 4h20v2H0V4zm0 5h20v2H0V9zm0 5h20v2H0v-2z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-menu ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Outfit";
  letter-spacing: 0.2rem;
}
.nabar-mune-el {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Outfit";
  letter-spacing: 0.2rem;
}

.navbar-menu .nav-link {
  margin-top: 0.3rem;
  padding: 0 15px;
  color: white;
  text-decoration: none;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Outfit";
  letter-spacing: 0.2rem;
}
.navbar-menu a:hover {
  color: var(--hover-color);
}

.logo img {
  width: 50px;
  height: 100%;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
  .navbar-brand {
    margin-top: -13px;
  }

  .navbar-toggler {
    display: block;
    position: absolute;
    right: 19px;
  }
  .logo img {
    width: 30px;
    height: 30px;
  }
  .navbar-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--primary-black);

    width: 100%;
    height: 100vh;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navbar-menu.show {
    transform: translateX(0);
    padding: 2rem;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu ul {
    flex-direction: column;
    gap: 4rem;
  }

  .navbar-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu a {
    color: #fff;
  }
}

@media only screen and (max-width: 320px) {
  .navbar-menu ul {
    gap: 3rem;
  }
}
