@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&family=Poppins:wght@700&family=Roboto:wght@100;400&family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #415e6b;
  --primary-green: #5c6a4d;
  --light-green: #999b84;
  --primary-black: black;
  --text-color: #75464a;
  --hover-color: #909d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ol {
  padding: 0;
}
body {
  overflow-x: hidden;
}

footer {
  background: var(--primary-black);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px rgb(106, 105, 105) solid;
}
.foter-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__logo img {
  width: 230px;
  height: 180px;
  margin-bottom: 1rem;
}

.footer__socials__title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1rem;
  font-family: "Outfit";
}

.footer__socials li {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer__socials-Link {
  padding: 1.2rem 1.3rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials svg {
  width: 20px;
  height: 20px;

  color: var(--primary-color);
}

.footer__logo .logo img {
  width: 180px;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: cover;

}
.text-center {
  color: rgb(145, 144, 144);
  padding: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0rem;
}
.text-light {
  color: rgb(145, 144, 144);
}
@media only screen and (min-width: 768px) {
  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer__wrapper {
    flex-direction: row;
    gap: 5rem;
  }

  .footer__socials__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .footer__logo .logo img {
    margin-left: 0.5rem;
    width: 200px;
    height: 150px;
    margin-bottom: 3rem;
  }
  .footer__socials svg {
    width: 20px;
    height: 20px;
  }
  .footer__socials {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 1224px) {
  .footer__wrapper {
    gap: 3rem;
  }
}
